<head>

    <title>|By NicatDcw By AntiCode🖤</title>

    <meta property="og:site_name" content=">">

  <meta property="og:title" content="Company Website AntiCode🖤">

  <meta property="og:description" content="<%=aciklama%>" ><!--content="Merhabalar Ben Nicat 15 Yaşım var Kodlamayla Ilgileniyorum. Bildiğim Kodlama Dilleri: [JavaScript] [Html, Css] [PHP] [NextJS] ">
-->
  <meta property="og:image" content="https://cdn.discordapp.com/avatars/852853360612605952/a_470d5b0b33c20288395dcabece817a75.gif?size=1024">

  <meta property="theme-color" content="black">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="https://cdn.discordapp.com/avatars/852853360612605952/a_470d5b0b33c20288395dcabece817a75.gif?size=1024">

  <!--/*bura*/--> 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/base.css" integrity="sha512-4MP2bln1wciK6s5shUwCOqFzVj/ye9U+yYQ0AnHExNUDcbOzMcBRsJvEq+vWqNuFpro/XwY1kmwd/ZUGFfsKTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/base.min.css" integrity="sha512-4VB9GCwtWOJxNtYsvJ7qUjRCTtlHpBYKQwr5ae/GgAd/ti9SFx0yh/CmAAO2H8ymeRJxg1F578l+7FAz1DuKgA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/components.css" integrity="sha512-9BlWpvccUKhxv9Jzha/JN6P+4hrVmhka0a0tnjtuv+Ro/V8itR/f0FM28++8CiK2CQ/qXu56VzGoHpGT3dJTKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/components.min.css" integrity="sha512-f6TS5CFJrH/EWmarcBwG54/kW9wwejYMcw+I7fRnGf33Vv4yCvy4BecCKTti3l8e8HnUiIbxx3V3CuUYGqR1uQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind-dark.css" integrity="sha512-Yt3PdSrCZnj7mhutv79VS3J9jTRowSZqLFQzuEBeNubDmAW8OScQpUprgvaFfpYs56D+bPLbuQ8KZAC0v5bg+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind-dark.min.css" integrity="sha512-XNq2InU9g3bwTbdv41jQXIaKTItROto41g3jRHfOYlpCSb2O5FYBmyuuGj0gxlJbGOpKioZw/FImcU/BxIt6gg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Georama:wght@100&display=swap" rel="stylesheet">

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

<link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">

<!-- son -->

     

</head>
<!--
Forms
Examples of building forms with Tailwind CSS.

Tailwind doesn't include purpose-built form control classes out of the box, but form controls are easy to style using existing utilities.

Here are a few examples to help you get an idea of how to build components like this using Tailwind.

Login Form
Username
Username
Password
******************
Please choose a password.

Sign In
Forgot Password?
©2020 Acme Corp. All rights reserved.
-->
<center>
<div class="w-full max-w-xs">
  <form method="POST" action="/basvuru-alindi" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Sunucu Ismi
      </label>
      <input name="sisim" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Sunucu Ismini Giriniz" required>
         <p class="text-red-500 text-xs italic">Bu Alan Gereklidir! </p> 
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Sunucu ID
      </label>
      <input name="sid" class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="number" type="password" placeholder="Sunucunuzun IDsini Giriniz. " required>
      <p class="text-red-500 text-xs italic">Bu Alan Gereklidir! </p>
    </div>
    <div class="mb-6">
    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">

      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">

        Üye Sayı

      </label>

     <!-- <div class="relative">

        <select id="language" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">

          <option value="300-500">300-500</option>

          <option value="500-700">500-700</option>

          <option value="700-1000">700-1000</option>
          
          <option value="1000+">1000+</option> 
        </select>

        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">

          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>

        </div>

      </div>-->
      <input name="ksayi" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Üye Sayını Giriniz! " required>
  

    </div>
    </div>
    <div class="flex items-center justify-between">
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        <i class="fad fa-paper-plane"></i> Gönder
      </button>
      </form>
    </div>
  </center>
  <script>
  var select = document.getElementById('lasnguage');

var value = select.options[select.selectedIndex].value;

console.log(value); 
    var select = document.getElementById('language');

				var option = select.options[select.selectedIndex];

				
    var ksayi = document.getElementById('value').value = option.value;
    console.log(ksayi) 

		 
  </script>



