<head>
    <title> | By Nicatdcw and AntiCode🖤</title>
    <meta property="og:site_name" content=">">
  <meta property="og:title" content="Company Website | AntiCode🖤">
  <meta property="og:description" content="<%=aciklama%>" > <!--content="Merhabalar Ben Nicat 15 Yaşım var Kodlamayla Ilgileniyorum. Bildiğim Kodlama Dilleri: [JavaScript] [Html, Css] [PHP] [NextJS] ">-->
  <meta property="og:image" content="https://cdn.discordapp.com/avatars/852853360612605952/a_470d5b0b33c20288395dcabece817a75.gif?size=1024">
  <meta property="theme-color" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.discordapp.com/avatars/852853360612605952/a_470d5b0b33c20288395dcabece817a75.gif?size=1024">
  <!--/*bura*/--> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/base.css" integrity="sha512-4MP2bln1wciK6s5shUwCOqFzVj/ye9U+yYQ0AnHExNUDcbOzMcBRsJvEq+vWqNuFpro/XwY1kmwd/ZUGFfsKTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/base.min.css" integrity="sha512-4VB9GCwtWOJxNtYsvJ7qUjRCTtlHpBYKQwr5ae/GgAd/ti9SFx0yh/CmAAO2H8ymeRJxg1F578l+7FAz1DuKgA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/components.css" integrity="sha512-9BlWpvccUKhxv9Jzha/JN6P+4hrVmhka0a0tnjtuv+Ro/V8itR/f0FM28++8CiK2CQ/qXu56VzGoHpGT3dJTKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/components.min.css" integrity="sha512-f6TS5CFJrH/EWmarcBwG54/kW9wwejYMcw+I7fRnGf33Vv4yCvy4BecCKTti3l8e8HnUiIbxx3V3CuUYGqR1uQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind-dark.css" integrity="sha512-Yt3PdSrCZnj7mhutv79VS3J9jTRowSZqLFQzuEBeNubDmAW8OScQpUprgvaFfpYs56D+bPLbuQ8KZAC0v5bg+g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind-dark.min.css" integrity="sha512-XNq2InU9g3bwTbdv41jQXIaKTItROto41g3jRHfOYlpCSb2O5FYBmyuuGj0gxlJbGOpKioZw/FImcU/BxIt6gg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Georama:wght@100&display=swap" rel="stylesheet">
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <!-- son -->
     
</head>
<nav class="bg-white shadow-lg">

			<div class="max-w-6xl mx-auto px-4">				<div class="flex justify-between">

					<div class="flex space-x-7">

						<div>

							<!-- Website Logo -->

							<a href="#" class="flex items-center py-4 px-2">


								<span class="font-semibold text-gray-500 text-lg">Menu</span>

							</a>

						</div>

						<!-- Primary Navbar items -->

						<div class="hidden md:flex items-center space-x-1">
  <!--
							<a href="" class="py-4 px-2 text-gray-500 border-b-4 bordeer-gray-500 font-semibold ">Home</a>
-->
							<a href="/" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Ana Sayfa</a>

							<a href="/company" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Company</a>

							<a href="/basvuru" class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300">Başvuru</a>

						</div>

					</div>

					<!-- Secondary Navbar items -->

					<div class="hidden md:flex items-center space-x-3 ">

						<a href="" class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-green-500 hover:text-white transition duration-300">Log In</a>


					</div>

					<!-- Mobile menu button -->

					<div class="md:hidden flex items-center">

						<button class="outline-none mobile-menu-button">

						<svg class=" w-6 h-6 text-gray-500 hover:text-green-500 "

							x-show="!showMenu"

							fill="none"

							stroke-linecap="round"

							stroke-linejoin="round"

							stroke-width="2"

							viewBox="0 0 24 24"

							stroke="currentColor"

						>

							<path d="M4 6h16M4 12h16M4 18h16"></path>

						</svg>

					</button>

					</div>

				</div>

			</div>

			<!-- mobile menu -->

			<div class="hidden mobile-menu">

				<ul class="">

					<li><a href="/" class="block text-sm px-2 py-4 text-black hover:bg-green-500 transition duration-300 grey">Ana Sayfa</a></li>

					<li><a href="/company" class="block text-sm px-2 py-4 text-black hover:bg-green-500 transition duration-300">Company</a></li>

					<li><a href="/basvuru" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Başvuru</a></li>


				</ul>

			</div>

			<script>

				const btn = document.querySelector("button.mobile-menu-button");

				const menu = document.querySelector(".mobile-menu");

				btn.addEventListener("click", () => {

					menu.classList.toggle("hidden");

				});

			</script>

		</nav>
<br>
<br>
<center>
<div class="w-full max-w-xs">

  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
<h2 class="text-purple" style="color: purple;font-size: 17px;font-family: 'Atkinson';" > | By NicatDcw </h2>
<p style="font-size: 10px;color:gray;font-family: 'Georama';"><%=aciklama%></p>
  <br>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded focus:outline-none focus:shadow-outline" type="button">

        Company'e Göz at! 

      </button>
  </div></div>
  </center>
<br>
<br>
<center>
<div class="w-full max-w-xs">
   <div class="mb-4">

      <input class="block text-gray-700 text-sm font-bold mb-2 text-center" for="username" placeholder="Özellikler" disabled>

        

      </input>
     </div>
  <hr>
  
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <h1 style="color: green;font-family: 'Inter', sans-serif;" ><i class="fas fa-tree"></i> Samimi Ve Güvenli</h1>
    <hr>
    <p style="font-size: 10px;color:gray;font-family: 'Georama';">Companymizdeki Üyeler Samimi ve Companymizde Olan Sunucular Güvenlidir! </p> 
   </div></div>

  </center>
<br>
<br>

<p style="text-align:center;color:gray;font-size: 10px;color:gray;font-family: 'Inter', sans-serif;">This Site Developed By <a href="https://nicatdcw.xyz">NicatDcw</a> with AntiCode🖤</p> 

   